@import '~antd/dist/antd.dark.css';

.contentH100 {
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-flow: column;
}

/*стиль таблиц - начало*/
    .panelButtonTable {
        background: #212121;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .row-select{
        background: #616161;
    }

    .row0 {
        background-color: #2b2a2a;
    }

    .row1 {
        background-color: #212121;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
        background: #616161;
    }
/*стиль таблицы - конец*/

/*высота таблицы - начало*/
.ant-table-wrapper {
    height: 100%;
    width: 100%;
}

.ant-spin-nested-loading {
    height: 100%;
    width: 100%;
}

.ant-spin-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table {
    flex: auto;
    overflow: hidden;
}

.ant-table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table-header {
    flex: none;
}

/*.ant-table-body {*/
/*    flex: auto;*/
/*    overflow: scroll;*/
/*}*/
/*высота таблицы - конец*/

/*скролл таблицы - начало*/
.ant-table-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #fff;
}

.ant-table-body::-webkit-scrollbar-thumb {
    width: 10px;
    height: 20px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(114, 114, 114);
}
/*скролл таблицы - конец*/