@import "~antd/dist/antd.css";
/*:hover срабатывает, когда пользователь наводит на элемент мышью, но не обязательно активирует его*/

/*.ant-layout-header{*/
/*    background: #01579B;*/
/*}*/

/*.ant-menu-overflow{*/
/*    background: #01579B !important;*/
/*}*/
.contentH100 {
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-flow: column;
}

/*стиль таблиц - начало*/
    .panelButtonTable {
        background: #0091EA;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ant-table-thead > tr >th{
        color: white;
        background: #0091EA !important;
    }

    .row-select{
        background: #BBDEFB;
    }

    .row0 {
        background: #E3F2FD;
    }

    .row1 {
        background: #FAFAFA;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
        background: #BBDEFB;
    }
/*стиль таблицы - конец*/

/*высота таблицы - начало*/
.ant-table-wrapper {
    height: 100%;
    width: 100%;
}

.ant-spin-nested-loading {
    height: 100%;
    width: 100%;
}

.ant-spin-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table {
    flex: auto;
    overflow: hidden;
}

.ant-table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table-header {
    flex: none;
}

/*.ant-table-body {*/
/*    flex: auto;*/
/*    overflow: scroll;*/
/*}*/
/*высота таблицы - конец*/

/*скролл таблицы - начало*/
.ant-table-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #fff;
}

.ant-table-body::-webkit-scrollbar-thumb {
    width: 10px;
    height: 20px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(114, 114, 114);
}
/*скролл таблицы - конец*/

/*.ant-collapse-item:hover{*/
/*    box-shadow: 0 0 4px #2885f6;*/
/*}*/

/*.item-non-select{*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.item-select{*/
/*    background: #a2c7f5;*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.site-form-in-drawer-wrapper {*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    bottom: 0px;*/
/*    width: 100%;*/
/*    padding: 10px 16px;*/
/*    text-align: right;*/
/*    background: #fff;*/
/*    border-top: 1px solid #e9e9e9;*/
/*}*/

/*РЕДАКТИРОВАНИЕ ТАБЛИЦЫ*/
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}

/*.ant-list-split .ant-list-item {*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.ant-list-split .ant-list-item:last-child{*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/