@import "~antd/dist/antd.css";

/*:hover срабатывает, когда пользователь наводит на элемент мышью, но не обязательно активирует его*/

.h100 {
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-flow: column;
}

.main {
    height: calc(100vh);
    display: flex;
    flex-flow: column nowrap;
    flex-wrap: wrap;
}

.ant-table-wrapper {
    height: 100%;
    width: 100%;
}

.ant-spin-nested-loading {
    height: 100%;
    width: 100%;
}

.ant-spin-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table {
    flex: auto;
    overflow: hidden;
}

.ant-table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ant-table-header {
    flex: none;
}

.ant-table-body {
    flex: auto;
    overflow: scroll;
}

.ant-table-pagination {
    flex: none;
}

.table-row-dark{
    background: #dedcdc;
}

.table-row-light{
    background: #ffffff;
}

.ant-collapse-item:hover{
    box-shadow: 0 0 4px #2885f6;
}

.item-non-select{
    border-radius: 10px;
    border: solid #dedcdc;
    margin-bottom: 10px;
}

.item-select{
    background: #a2c7f5;
    border-radius: 10px;
    border: solid #dedcdc;
    margin-bottom: 10px;
}

.site-form-in-drawer-wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    border-top: 1px solid #e9e9e9;
}

/*РЕДАКТИРОВАНИЕ ТАБЛИЦЫ*/
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}

/*.ant-list-split .ant-list-item {*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.ant-list-split .ant-list-item:last-child{*/
/*    border-radius: 10px;*/
/*    border: solid #dedcdc;*/
/*    margin-bottom: 10px;*/
/*}*/